{{- $hasImages := false -}}
{{- $hasCode := false -}}
{{- if .IsPage -}}
    {{- $renderedContent := printf "%s" .Content -}}
    {{- $hasImages = strings.Contains $renderedContent "data-lightbox=" -}}
    {{- $hasCode = strings.Contains $renderedContent "<pre" -}}
{{- end }}
{{- if $hasImages }}
<script defer src="{{ partial "asset-url.html" "/js/image-viewer.js" }}"></script>
{{- end }}
{{- if $hasCode }}
<script defer src="{{ partial "asset-url.html" "/js/copy-code.js" }}"></script>
{{- end }}
<script defer src="{{ partial "asset-url.html" "/js/site-controls.js" }}"></script>
{{- if and .IsPage (eq .Type "blog") }}
<script defer src="{{ partial "asset-url.html" "/js/back-to-top.js" }}"></script>
{{- end }}
<script defer src="{{ partial "asset-url.html" "/js/theme-toggle.js" }}"></script>
<script defer src="{{ partial "asset-url.html" "/js/footer-year.js" }}"></script>
