/* logo字体 */
.header .logo-wrapper .logo {
	position: relative;
    font-size: 30px;
    line-height: 68px;
    font-weight: bold;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 28.8px;
    font-size: 16px;
}

