{{ define "main" }}
<div class="container tag-index">
    <h1 class="tag-index-title">🏷️ {{ i18n "tagsTitle" | default "Tags" }}</h1>
    
    <ul class="tag-cloud">
        {{ range .Data.Terms.ByCount }}
            <li>
              <a href="{{ .Page.RelPermalink }}" class="tag-card text-decoration-none">
                    <span class="tag-name">#{{ .Name }}</span>
                    <span class="badge rounded-pill ms-2">{{ .Count }}</span>
              </a>
            </li>
        {{ end }}
    </ul>
</div>
{{ end }}
