  <footer>
  {{ partial "foot_custom.html" . }}
  {{ partial "footer_highlightjs" . }}
  {{ with .Site.Params.footer }}
  <hr>
  <div class="copyright">{{ replace . "{Year}" now.Year | markdownify }}</div>
  {{ end }}
  </footer>
  </article>
  {{ template "_internal/google_analytics.html" . }}
  </body>
  <link rel="stylesheet" type="text/css" href="/css/lightbox.css">
  <link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css"/>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';
    init({
      el: '#waline',
      serverURL: 'https://remark-blog-s.gujiakai.top',
      reaction: true,
      lang: 'zh-CN',
    });
  </script>
  <script src="/js/lightbox-plus-jquery.js"></script>
  <script src="/js/custom.js"></script>
  <!--百度统计-->
  <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?1583976593d22d85a3cc5ea72c32293b";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
  </script>
</html>
