<script src="/js/lightbox-plus-jquery.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script async src="https://umami.gujiakai.top/script.js" data-website-id="d7f3de25-017d-4f73-8bd0-81e9484ef61f"></script>
<script type="module" src="https://cdn.jsdelivr.net/gh/emaction/frontend.dist@1.0.11/bundle.js"></script>
{{/*  <script src="https://cdn.jsdelivr.net/gh/jiakaiBot/jslib@main/lanterns/lanterns.min.js"></script>  */}}
<!-- Start of Rocket.Chat Livechat Script -->
<script type="text/javascript">
	(function(w, d, s, u) {
		w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
		var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
		j.async = true; j.src = 'https://chat.gujiakai.top/livechat/rocketchat-livechat.min.js?_=201903270000';
		h.parentNode.insertBefore(j, h);
	})(window, document, 'script', 'https://chat.gujiakai.top/livechat');
	</script><!-- Start of Rocket.Chat Livechat Script -->
	<script type="text/javascript">
	(function(w, d, s, u) {
		w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
		var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
		j.async = true; j.src = 'https://chat.gujiakai.top/livechat/rocketchat-livechat.min.js?_=201903270000';
		h.parentNode.insertBefore(j, h);
	})(window, document, 'script', 'https://chat.gujiakai.top/livechat');
</script>