<script src="/js/lightbox-plus-jquery.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script async src="https://umami.gujiakai.top/script.js" data-website-id="d7f3de25-017d-4f73-8bd0-81e9484ef61f"></script>
<script type="module" src="https://cdn.jsdelivr.net/gh/emaction/frontend.dist@1.0.11/bundle.js"></script>
<script 
  data-host-id="1" 
  data-auto-reg="true" 
  data-login-token="" 
  data-theme-color="#1fe1f9" 
  data-close-width="48" 
  data-close-height="48" 
  data-open-width="380" 
  data-open-height="680" 
  data-welcome="有任何问题欢迎与我交流！" 
  src="https://vocechat.gujiakai.top/widget.js" 
  async 
></script>