<hr/>
<h3>Emoji Reaction</h3>
<emoji-reaction endpoint="https://api-emaction.gujiakai.top"></emoji-reaction>  
<hr />
<script>
(function() {
    var theme = document.documentElement.getAttribute('data-bs-theme');
    var utterancesTheme = theme === 'dark' ? 'github-dark' : 'github-light';
    var script = document.createElement('script');
    script.src = 'https://utteranc.es/client.js';
    script.setAttribute('repo', 'real-jiakai/blog');
    script.setAttribute('issue-term', 'pathname');
    script.setAttribute('label', 'comment');
    script.setAttribute('theme', utterancesTheme);
    script.setAttribute('crossorigin', 'anonymous');
    script.async = true;
    document.currentScript.parentNode.insertBefore(script, document.currentScript);
})();
</script>
